.allActiveCompleted {
    display: flex;
    align-items: center;
    justify-content: space-between;
    word-spacing: 20px;
}

.footerButton {
    margin-left: 8px;
    margin-right: 8px;
}

.marked {
    border: 1px solid black;
    padding: 4px;
}

.footerBox {
    position: relative;
    width: 600px;
    height: 50px;
    background-color: white;
    border: 1px solid #213547;
    display: flex;
    justify-content: space-around;
}

.xItem {
    position: absolute;
    left: 0;
    padding-top: 18px;
    margin-left: 20px;
}

.clearCompleted {
    position: absolute;
    right: 0;
    padding-top: 18px;
    margin-right: 20px;
}
